.Auth{
    margin: 3rem auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #f7f7f7;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hint {
    color: #16c800;
    font-weight: bold;
}

.AuthDetail{
    margin-bottom: 1rem;
    color: #5d5d5d;
}

.Switch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.Switch button{
    margin: 0 1rem;
    font-size: 1.4rem;
    /* background-color: #ffe799; */
    
}

.Switch i{
    background-image: linear-gradient(to right bottom, #acea1e, #0ddc0d);
    background-clip: text;
    -webkit-background-clip: text;
    margin-right: .5rem;
    color: transparent;
}

.Form {
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width:750px){
    .Auth{
        width: 80%;
        height: 60vh;
    }
}


