.Footer {
    height: auto;
    padding: .5rem;
    width: 100%;
    color: #f7f7f7;
    box-sizing: border-box;
    text-transform: capitalize;
    text-align: center;
    background-color: rgb(68, 67, 67);
}

.Right {
    font-weight: 700;
}

.Footer .Description {
    margin: auto;
}



.Footer h2 a {
    color: rgb(79 174 255);
    text-decoration: none;
}
.Footer h2 a:active {
    color: rgb(79 174 255);
    text-decoration: none;
}

.Utility p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.Utility {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width:1000px) {
    .Footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .Footer .Description {
        width: 60%;
        min-height: 6rem;
        text-align: center;
        border: none;
    }

    .Utility{
        flex-direction: column;
    }


}