body {
    margin: 0;
    min-width: 320px;
    padding: 0 1rem;
    padding-top: 1rem;
    background-color: #ecdede;
    font-family: 'Noto Sans TC', sans-serif;
  }

html{
  font-size: 62.5%;
}
  

@media (max-width:800px) {
  html{
    font-size: 50%;
  }

  body{
    padding: 0;
  }
}